<main role="main" class="container-fluid flex-fill" id="downloads-container">
  <div class="container" id="downloads">
    <div class="row">
      <div class="col-12">
        <h2>Client Downloads</h2>
        <hr>
        <div class="4113">
          <h4>1.2.4</h4> 
          <p>Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
          <p>Donec nec justo eget felis facilisis fermentum:</p>
          <ul>
            <li>Aliquam porttitor mauris sit amet orci</li>
            <li>Aenean dignissim pellentesque felis</li>
            <li>Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam</li>
          </ul>
          <div><a class="btn btn-sm btn-primary" href="/downloads/client/4.11.3/windows">Windows</a> <a class="btn btn-sm btn-primary" href="/downloads/client/4.11.3/mac">Mac</a> <a class="btn btn-sm btn-primary" href="/downloads/client/4.11.3/linux">Linux</a></div>
        </div>
      </div>
    </div>
  </div>
</main>

  
