{% if current_page is empty %}
{% set title = "Hub Portal | Home" %}
{% elseif current_page == 'tickets' %}
{% set title = "Hub Portal | Tickets" %}
{% elseif current_page == 'downloads' %}
{% set title = "Hub Portal | Downloads" %}
{% elseif current_page == 'settings' %}
{% set title = "Hub Portal | Settings" %}
{% elseif current_page == 'login' %}
{% set title = "Hub Portal | Login" %}
{% elseif current_page == 'register' %}
{% set title = "Hub Portal | Register" %}
{% elseif current_page == 'reset-password' %}
{% set title = "Hub Portal | Reset Password" %}
{% endif %}

<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>{{ title }}</title>
  <meta name="description" content="Hub Portal">
  <meta name="author" content="William Hunt">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{{ site_url }}/assets/css/styles.css">
  <link rel="stylesheet" href="{{ site_url }}/assets/css/styles-chat.css">

</head>

<body>

  <wrapper class="d-flex flex-column">
