  <main role="main" class="container flex-fill" id="reset-password">
  <div class="container">
    {% if method == 'GET' %}
      {% if action is empty %}
      <div class="row">
        <div class="col-12">
          <div class="reset-password-form">
            <h2>Password Reset</h2>
            <hr>
            <strong class="mb-2 d-block">Enter your e-mail address below to receive a password reset link.</strong>
            <form method="post" action="/reset-password">
              <div class="form-group">
                <input type="email" class="form-control" name="emailAddress" id="emailAddress" placeholder="Email*" required>
              </div>
              <button type="submit" class="btn btn-primary">Reset Password</button>
            </form>
          </div>
        </div>
      </div>
      {% elseif action == 'confirm' %}

        <div class="row">
          <div class="col-12">
            {% if valid_token == 'true' %}
              <div class="reset-password-form">
                <h2>Enter a new password</h2>
                <hr>
              </div>
            {% endif %}
          </div>
        </div>

      {% endif %}

    {% elseif method == 'POST' %}
      {% if error == 'true' %}
        <div class="row error">
          <div class="col-12 text-center">
            <h2>There was an issue processing your request.</h2>
            <p class="error-text">{{ error_message }}</p>
            <a href="{{ referer }}" class="btn btn-lg btn-primary">Go back</a>
          </div>
        </div>      
      {% else %}
        <div class="row">
          <div class="col-12 text-center">
            <h2>Check your email...</h2>
            <p>A password reset email has been sent to your email address. Please check your email to finish resetting your password.</p>
            <a href="{{ site_url }}" class="btn btn-lg btn-primary">Go Home</a>
          </div>
        </div>
      {% endif %}
      
    {% endif %}      
  </div>
</main>


